<!--<app-maytinh></app-maytinh>-->
<!--<app-color></app-color>-->
<!--<app-product></app-product>-->
<!--<app-name-card></app-name-card>-->
<!--<app-progress-bar></app-progress-bar>-->
<!--<app-employee></app-employee>-->
<!--<app-baitapnho></app-baitapnho>-->
<!--<app-todo></app-todo>-->
<!--<app-form></app-form>-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<h1><router-outlet></router-outlet>-->
<!--</h1>-->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<h1><router-outlet></router-outlet>-->
<!--</h1>-->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<h1><router-outlet></router-outlet>-->
<!--</h1>-->
<!--<a routerLink="/product/list">Danh sách sản phẩm</a>-->
<!--<h1><router-outlet></router-outlet>-->
<!--</h1>-->
<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a>
<h1><router-outlet></router-outlet>
</h1>
