<table class="table">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody *ngFor="let product of listproduct">
  <tr>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
  </tbody>
</table>
<form [formGroup]="form" >
  <label>
    Name:
    <input type="text" formControlName="name">
    <div class="col alert alert-danger" role="alert"
         *ngIf="form.controls['name'].errors?.['required']
         && form.controls['name'].touched">
      name is required!
    </div>
  </label>
  <label>
    Price
    <input type="text" formControlName="price">
    <div class="col alert alert-danger" role="alert"
         *ngIf="form.controls['price'].errors
         && form.controls['price'].touched">
      Gía phải cao hơn 1k
    </div>
  </label>
  <button type="submit" [disabled]="!form.valid">Submit </button>
</form>
